@using WebApp_Like_Notion.Models
@model ViewModel

@{
    if(ViewBag.Title == null)
        ViewBag.Title = "Home Page";
}

<div class="text-center">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Insert</button>
    @using (Html.BeginForm("AddNote", "Home", FormMethod.Post))
    {
        <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Customer Details Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Title:</label>
                            @Html.TextBoxFor(model=> model.Note.Title, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Header:</label>
                            @Html.TextBoxFor(m => m.Note.Header, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Body:</label>
                            @Html.TextBoxFor(m => m.Note.Body, new { @class = "form-control" })
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
    
    @if (!Model.Notes.Any())
    {
        <h1 class="display-5 fw-bold">Нет активных записей.</h1>
    }
    <table class="table">
        <tbody>
        @foreach (var item in Model.Notes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink(@item.Title, "ViewNote", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    Edit
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditNote", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteNote", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="btn btn-success">
        @Html.ActionLink("Добавить запись", "AddNote", "Home")
    </div>


</div>