@model IEnumerable<WebApp_Like_Notion.Models.Note>
@{
    if(ViewBag.Title == null)
        ViewBag.Title = "Home Page";
}

<div class="text-center">
    <table class="table">
        <tbody>
        @if (!Model.Any())
        {
            <h1 class="display-5 fw-bold">Нет удаленных записей.</h1>
        }
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.ActionLink("Restore", "RestoreNote", new {id = item.Id})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>